version: '3.8'

services:
  nextjs-app:
    build:
      context: .
      dockerfile: dockerfile
    container_name: react-portfolio
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    # Uncomment if you need volume mapping for development
    # volumes:
    #   - .:/app
    #   - /app/node_modules
    #   - /app/.next